body{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(XQ3A2740.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.navbar{
    background-color: #c4a29e;
    width: 100%;
    min-width: 400px;
    margin-top: 15px;
}

.nav-link{
    color: white !important;
    font-family: 'Josefin Sans', sans-serif;
    padding-right: 15px;
}

.nav-link:hover {
    color: #000 !important;
}

.nav-link:active{
    font-weight: bold;
}

.request {
    color: white !important;
    font-family: 'Josefin Sans', sans-serif;
}

.request:hover {
    color: #000 !important;
    text-decoration: none;
}

.request:active {
    font-weight: bold;
}

.fa-facebook {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.fa-instagram {
    color: white;
    font-size: 20px;
}

.fa-facebook:hover {
    color: black;
}

.fa-instagram:hover {
    color: #000;
    text-decoration: none;
}

.main-container {
    justify-content: center;
}

.venue-button .btn{
    background-color: #c4a29e;
    border-color: #c4a29e;
    font-family: 'Josefin Sans', sans-serif; 
    margin-bottom: 10px;
}

.venue-button .btn:hover{
    background-color: #d8a47f;
    border-color: #d8a47f;
}

.weddings-button .btn{
    background-color: #c4a29e;
    border-color: #c4a29e;
    font-family:'Josefin Sans', sans-serif;
}

.weddings-button .btn:hover {
    background-color: #d8a47f;
    border-color: #d8a47f;
}

.content{
    width: 98%;
    background-color: rgba(255,248,240,.4);
    min-width: 400px;
}

.container.header{
    width: 55%;
    background-color: rgba(255,248,240,.6);
    padding: 30px;
    text-align: center;
    min-width: 400px;
}

.title {
    justify-content: center;
}

main{
    display: flex;
    height: 100%;
    align-items: center;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: thin;
    text-align: center;
}

p{
    font-family: 'Lusitana', serif;
}

.content{
    margin-top: 50px;
    padding: 20px;
}

.footer {
    text-align: center;
    height: 38vh;
    align-items: flex-end;
    font-size: 10px;
}


/* @media only screen and (min-width: 495px){
    .container.header{
        width: 100%;
    }
} */
